extends ../layout

block content
  form(action=`/books/${url}` method="post")
    p
      label(for="title") Title
      input(id="title" type="text" name="title" placeholder="Ender's Game" value=`${book.title}`)
    p
      label(for="author") Author
      input(id="author" type="text" name="author" placeholder="Orson Scott Card" value=`${book.author}`)
    p
      label(for="genre") Genre
      input(id="genre" type="text" name="genre" placeholder="Science Fiction" value=`${book.genre}`)
    p
      label(for="first_published") First Published
      input(id="first_published" type="text" name="first_published" placeholder="1985" value=`${book.first_published}`)
    p
      input(type="submit" value= buttonText)
  block loan-history
