extends loan-table

block loan-list
  tbody
    each loan in loans
      - const patronName = `${loan.patron.first_name} ${loan.patron.last_name}`;
      tr
        td
          a(href=`/books/details/${loan.book.id}`)= loan.book.name
        td
          a(href=`/patrons/details/${loan.patron.id}`)= patronName
        td= loan.loaned_on
        td= loan.return_by
        td= loan.returned_on
        td
          if !loan.returned_on
            a(href="/books/return" class="button") Return Book
