extends ../layout

block content
  form(action="/loans/new" method="post")
    if errors
      ul.error
        each error in errors
          li= error.message
    p
      label(for="book_id") Book
      select(id="book_id" name="book_info")
        each book in books
          option(value=`${book.id}-${book.title}`)= book.title
    p
      label(for="patron_id") Patron
      select(id="patron_id" name="patron_info")
        each patron in patrons
          - const name = `${patron.first_name} ${patron.last_name}`;
          option(value=`${patron.id}-${name}`)= name
    p
      label(for="loaned_on") Loaned on:
      input(id="loaned_on" name="loaned_on" type="text" value=`${loaned_on}`)
    p
      label(for="return_by") Return by:
      input(id="return_by" name="return_by" type="text" value=`${return_by}`)
    p
      input(type="submit" value="Create New Loan")
